/* 

Артур Богомазов 2014 г.                                  							                                  													 */
@import "iconfont.css";
@import "animate.min.css";

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
.button_web {
	color: #fff;
	background: #00ae7a;
    border: 1px solid #00ae7a;
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    font: 16px/30px 'Open Sans';
    width: 190px;
	font-weight: 300;
    text-transform: uppercase;
    color: rgba(255,255,255,1);    
    padding: 0 17px;
    -webkit-transition: all .3 linear;
    transition: all .3 linear;
    cursor: pointer;
} 
.button_web:hover
{
	background: #00be7a;
}
.video_shadow
{
/*	box-shadow: 0 0 50px 0 rgba(0,0,0,0.05); */
/*	box-shadow: 11px 17px 15px 5px rgba(200,200,200,2);  */
	box-shadow: 0px 10px 50px 0px rgba(200,200,200,2);  
	margin: 20px;
}


body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
}

p{
	font-size: 1.2em;
	color: #666;
}
p1 {
	color: #999;
	font-size: 17px;
	/*font-weight: 300;*/
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.zagolovok {
	font-weight: 300;
	color: #555;
	font-size: 32px;
	}
	
.lead{
	font-weight: 300;
	color: #666;
}
	.lead1{
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.visibility{
	visibility: hidden;
}

.animated{
	visibility: visible!important;
}




li {
text-align: -webkit-match-parent;
}
ul, menu, dir {
list-style-type: disc;

display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
ul {
	list-style: none outside;
	text-align: justify;
}
 aside {
display: block;
margin: 0;
padding: 0;
}
promos {
	
position: absolute;
/*bottom: 90px;*/
z-index: 1;
overflow: hidden;
width: 100%;
height: 200px;
}
.promos ul {
	padding-top:10px;  /* ВАЖНО отступ! */
position: relative;
z-index: 1;
overflow: hidden;
margin: 0 auto;
 min-width: 1024px;
 max-width: 1500px; 
width: 100%;
height: 200px;
text-align: center;
float: center;
}
.promos ul li + li + li + li {
margin-right: -.3%;
width: 25.3%;

}
.promos ul li {
	
position: relative;
z-index: 1;
float: left;
overflow: hidden;
margin: 0;
width: 25%;
height: 200px;
}
.promos ul li + li a {
border-left: 1px solid #fff;     /* ВАЖНО!! ОТСТУП МЕЖДУ КАРТИНКАМИ! */
}
.promos ul li a {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
display: block;
overflow: hidden;
cursor: pointer;
}
.promos ul li a img {
position: absolute;
left: 50%;
z-index: 1;
margin-left: -182px;
}

/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/

/*---- Typography ----*/
header h1, 
.payoff h1,
.details .carousel,
.social a:hover{
	color: #0bf397;
}

.features p{
	color: #06b872;
}

/*---- Background ----*/
.features,
.detail .carousel-indicators .active {
	background: #0bf397;	
}
	

/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

nav.navbar{
	position: fixed;
	margin-bottom: 0px;
	padding: 10px 0px 10px 0px;
	width: 100%;
	border-radius: 0px;
	transition: all 0.2s;
}

.navbar-nav{
	float: right;
}

nav.navbar.fixed-to-top{
	top: 0px;
}

.navbar-default{
	border: none;
	border-bottom: 1px solid #eee;
	background: #fff;
	opacity: 0.92;
	
}

.navbar-default .navbar-nav>li>a {
	color: #aaa;
	font-size: 1em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #3A3A3A;	
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.navbar-default .navbar-brand{
	color: #333333;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}


/*-----------------------------------------------------------------------------------*/
/* HEADER 
/*-----------------------------------------------------------------------------------*/



header h1{
	text-transform: uppercase;
	font-weight: 700;
	font-weight: 300;
	font-size: 80px;
	font-family: "Open Sans", sans-serif;
}

header p.lead{
	font-size: 36px;
	color: #666;
}


header .carousel-iphone{
	margin-right: auto;
	margin-left: auto;
	width: 320px;
	height: 672px;
	background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;
	
}

header .carousel {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 95px 0px 0px 4px;
	width: 282px;
}

header .carousel-indicators .active {
	width: 15px;
	height: 15px;
	background: #444444;
}

header .carousel-indicators {
	bottom: -63px;
}

header .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 15px;
	height: 15px;
	border: 1px solid #666666;
	border-radius: 10px;
	text-indent: -999px;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/* PURCHASE
/*-----------------------------------------------------------------------------------*/

.purchase{
	overflow: hidden;
	padding: 0px 0px 100px 0px;       /* ОТСТУП КАРТИНОК ПОСЛЕ ГЛАВНОГО ФОНА*/
	min-height: 200px;
}

.purchase button.app-store{
	width: 152px;
	height: 52px;
	/*background: url(../img/badge-appstore.png) #3a3a3a no-repeat 0px 5px;*/
	background: url(../img/badge-appstore.png) no-repeat 0px 5px;
	color: white;
}

/*-----------------------------------------------------------------------------------*/
/*	PAYOFF
/*-----------------------------------------------------------------------------------*/

.payoff{
	overflow: hidden;
	padding: 230px 0px 150px 0px;
	min-height: 600px;
	background: url('../img/dunes.jpg');
	background-position: center top;
	background-repeat: repeat-x;
	color: white;
}

.payoff h1{
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.8em;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

/*-----------------------------------------------------------------------------------*/
/*	DETAIL
/*-----------------------------------------------------------------------------------*/

.detail{
	overflow: hidden;
	padding: 50px 0px 0px 0px;
	min-height: 500px;
	color: #666;
}

.detail .title{
	margin-bottom: 80px;
	text-align: center;
}

.detail .features .row{
	margin-bottom: 40px;
}

.detail .carousel h1{
	font-size: 3.8em;
	text-align: center;
	font-weight: 300;
}
.detail p{
	text-align: left;
	font-weight: 300;
}

.detail p{
	color: #aaa;
}

.detail .carousel-control{
	background: none;
}

.detail .app-screenshot{
	overflow: hidden;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 95px;
	width: 320px;
	height: 450px;
	/*background: url('../img/iphone-front.png') no-repeat;
	background-size: 100%;*/
}

.detail .app-screenshot img{
	margin-right: auto;
	margin-left: auto;
	padding-left: 4px;
	width: 280px;
}

.detail .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	border-top: 1px solid #eee;
	background: #ffffff;
}

.detail .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.detail .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #eeeeee;
	text-indent: -999px;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	FEATURES
/*-----------------------------------------------------------------------------------*/

.features{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: black;
}

.features p {
	font-weight: 400;
}

.features h2{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
}

.features .circle{
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	text-align: center;
	
}

.features span.glyphicon, .features i{
	margin-top: 3px;
	color: #ffffff;
	font-size: 5em;
}

/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social{
	overflow: hidden;
	padding: 80px 0px 150px 0px;
	min-height: 350px;
	background: url('../img/sea.jpg');
	background-position: center top;
	background-repeat: repeat-x;
	color: white;
}

.social h2{
	color: #999;
}

.social a {
	margin-left: 10px;
	color: #FFF;
	font-size: 5em;
	transition: all 0.3s;
}

.social a:hover{
	text-decoration: none;
	cursor: pointer;
	
}

/*-----------------------------------------------------------------------------------*/
/*	GET-IT
/*-----------------------------------------------------------------------------------*/

.get-it1{
	padding: 4px 0px 0px 0px;
	text-align: center;
}
.get-it1 hr{
	margin-top: 1em;
	margin-bottom: 2em;
}

.get-it1 ul{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.get-it1 ul li{
	display: inline-block;
	margin-left:30px;
}
.get-it1 ul li:first-child{
	margin-left: 0px;
}

.get-it1 ul li a{
	color: #aaa;
	font-size: 1.2em;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.get-it1 ul li a:hover{
	color: #3A3A3A;
	text-decoration: none;
	cursor: pointer;
}



.get-it{
	padding: 100px 0px 160px 0px;
	text-align: center;
}

.get-it button.app-store{
	width: 152px;
	height: 52px;
	/*background: url(../img/badge-appstore.png) #373737 no-repeat 0px 5px;*/
	background: url(../img/badge-appstore.png) no-repeat 0px 5px;
	background-color: #52A8E8;
	background-image: -webkit-linear-gradient(#54A1D8, #1967CA) url(../img/badge-appstore.png);
	color: white;
}

.get-it hr{
	margin-top: 3em;
	margin-bottom: 3em;
}

.get-it ul{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.get-it ul li{
	display: inline-block;
	margin-left:30px;
}

.get-it ul li:first-child{
	margin-left: 0px;
}

.get-it ul li a{
	color: #aaa;
	font-size: 1.2em;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.get-it ul li a:hover{
	color: #3A3A3A;
	text-decoration: none;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width:768px) {
	
	header{
		padding-bottom: 50px;
		min-height: 1000px;
		height: 100%;
	}
	
	.navbar-nav {
		float: left;
		text-align: left;
}

	
}

@media (max-width:992px) {

.detail .carousel h1, .detail p{
	text-align: center;
}

.detail p{
	margin-bottom: 60px;
	color: #666;
}

header, .social{
	background-position-y: 0px;
	background-size: 200%;
}

.payoff{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 200px;
}

.payoff h1{
	font-size: 24px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.features .col-md-4{
	margin-bottom: 60px;
}

}

@media (max-width:480px){

	header .carousel-iphone, .detail .app-screenshot{
		width: 280px;
	}
	
	header .carousel, .detail .app-screenshot img{
		padding-top: 85px;
		width: 245px;
	}
	
	.detail .app-screenshot img{
		margin-top: -12px;
		padding-top: 0px;
	}
	
	header{
		padding-top: 30px;
		padding-bottom: 0px;
	}
	
	header h1{
		font-size: 70px;
	}
	
	.purchase{
		padding-top: 50px;
	}
	
	.features col-md-4{
		margin-bottom: 50px;
	}
	
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .purchasebutton.app-store, .get-it button.app-store{
        background: url(../img/badge-appstore@2x.png) #3a3a3a no-repeat 0px 5px;
        background-size: 98%;
    	color: white;
    }
}


/********* Форимируем слой затемнения фона *************/
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
/* Позиционирум медиа-элементы внутри окна */
.is-image {
  width: 100%;
  display: inline-block;
  height: auto;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 0; left: 0; bottom: 0; right: 0;
}
embed, iframe {
  width: 100%;
  min-width: 320px;
  max-width: 2000px; /*1200*/
 max-height:2000px; /*550*/
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}
/* Формируем и позиционируем всплывающее окно */
.popup { 
    min-width: 320px;
    max-width: 80%;
    width: 1000px;
    margin: auto;
    background-color: #fff;
    border: 3px solid #fff;
    display: block;
    left: 0; right: 0;
    opacity: 0;
    padding: 15px;
    position: fixed;
    font-size: 14px;
    top: 0;
    visibility: hidden;
    z-index: 10;
/* Скругление углов окна  */	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
/* Тень блока окна  */	
    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
/* Устанавливаем эффект перехода появления окна */ 
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
/* Устанавливаем позицию появления окна */ 
.overlay:target+.popup {
    top: 20%;
    opacity: 1;
    visibility: visible;
}
/* Оформляем и позицонируем кнопку закрытия */
.close {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #ccc;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: -13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;padding: 0;
    top: -15px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 14px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}

.buttonz {
    background: linear-gradient(#37AAEA, #117ED2) repeat scroll 0% 0% transparent;
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #137EC6;
    border-left: 1px solid #137EC6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #1992DA #137EC6 #0D6AB2;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.28571;
    text-align: center;
    padding: 0.42857em 1.14286em 0.5em;
    display: inline-block;
}
