table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: midle;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
margin: auto;

}
th 
{
font-size: 18px;
padding: 10px;
}
td {
background: #F5D7BF;
padding: 10px;
}
body
{
	background-color: #656665;
}
.center
{
	display:block;
	margin: 0 auto;
}
select
{
   background: transparent;
   background-color:#ECE9E0;
   width: 250px;
   padding: 5px 0 5px 10px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 20px;   
   border: 1px solid #ccc;
   border-radius: 20px;
  }
  .submit
  {
  background: transparent;
   background-color:#F5D7BF;
   padding: 5px 0 5px 10px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 20px;   
   border: 1px solid #ccc;
   border-radius: 20px;
   width: 250px;
  }
  .submit2
  {
  background: transparent;
   background-color:#ECE9E0;
  color:#656665;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 14px;   
   border: 1px solid #ccc;
   border-radius: 20px;
   width: 100px;
  }
  .input
  {
  background-color:#ECE9E0;
    border-radius: 5px;
	  color:#656665;
  }